.App{
  display: flex;
  flex-direction: column;
}

.header{
  height: 20vh;
  display: flex;
  background-color: #F4E064;
}

.logo{
  height: 90%;
}

.footer{
  height: 10vh;
  background-color: #F4E064;
}